@import '~/styles/variables.scss';

.main {
  position: relative;
  display: flow-root;
  box-sizing: border-box;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 2rem 1rem;
  overflow: scroll;
}
