$color-gray: #696969;
$color-black: #000000;
$color-blue: #0070f3;

$color-lightest-gray: #fafafa;
$color-light-gray: #8c8c8c;
$box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
  rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
